<!-- what I need to display here is:
    Food Cost, Ordering frequency, Reorder alert, Running Low reminder, 
//reorder point = safety stock + average consumption * lead time   -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="admin-homepage.component.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
</head>
<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/admin-fileupload" routerLinkActive="active">
            <p class="nav-item">File Uploads</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <!-- <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
            <p class="nav-item">Advanced Statistics</p>
          </a> -->
        </div>
        <div class="navbar-selection ml-auto">
            <a class="navbar-item" routerLink="/admin-recipes" routerLinkActive="active">
              <p class="nav-item">Recipe Management</p>
            </a>
          </div>
      </nav>
      <h1 class="homepageTitle" style="font-size: 3.6rem;">Admin Homepage</h1>
      <router-outlet></router-outlet>
    </div>
    <div class="hero-body">
        <div class="container">
          <div class="columns is-centered is-vcentered">
            <div class="column is-6" style="padding: 0;">
              <body>
                <canvas id="foodCostsChart" width="400" height="200"></canvas>
                <canvas id="orderingFrequencyChart" width="400" height="200"></canvas>
                <canvas id="reorderAlertChart" width="400" height="200"></canvas>
                <canvas id="runningLowReminderChart" width="400" height="200"></canvas>
                <canvas id="reorderPointChart" width="400" height="200"></canvas>
              </body>
            </div>
          </div>
        </div>
      </div>
</section>