<!-- what I need to display here is:
    Food Cost, Ordering frequency, Reorder alert, Running Low reminder, 
//reorder point = safety stock + average consumption * lead time   -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="admin-homepage.component.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
</head>
<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
      <app-navigation></app-navigation>
    </nav>
    <h1 class="homepageTitle" style="font-size: 3.6rem;">Admin Homepage</h1>
      <router-outlet></router-outlet>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered is-vcentered">
          <div class="column is-6" style="padding: 0;">
            <body>
              <div class="container">
                <!-- Column 1: Dish Name Input and COGS & Profit Margin Outputs -->
                <div class="column">
                  <div>
                    <label for="dishName">Enter Dish Name:</label>
                    <input type="text" [(ngModel)]="dishName" placeholder="Enter Dish Name">
                  </div>
              
                  <div class="button-container">
                    <button class="button" (click)="calculateProfitMargin()">Calculate Profitability</button>
                    <div class="output-box" *ngIf="profitability !== null">Profitability Result: {{ profitability }} %</div>
                  </div>
              
                  <div class="button-container">
                    <button class="button" (click)="calculateCOGS()">Calculate COGS</button>
                    <div class="output-box" *ngIf="cogsResult !== null">COGS Result: ${{ cogsResult }}</div>
                  </div>
                  <br>
                  <div class="bcg-matrix-graph">
                    <app-bcg-matrix></app-bcg-matrix>
                  </div>
                </div>
              
                <!-- Column 2: Ingredient Name Input and Reorder Point, Safety Stock, and Optimal Order Quantity Outputs -->
                <div class="column">
                  <div>
                    <label for="ingredient">Ingredient:</label>
                    <input type="text" placeholder="Enter Ingredient Name" formControlName="ingredient" id="ingredient" [(ngModel)]="ingredient">
                  </div>
              
                  <div class="button-container">
                    <button class="button" (click)="calculateOptimalOrderQuantity()">Calculate Optimal Order Quantity</button>
                    <div class="output-box" *ngIf="optimalorderQuantity !== null">Optimal Order Quantity Result: {{ optimalorderQuantity }}</div>
                  </div>
              
                  <div class="button-container">
                    <button class="button" (click)="calculateSafetyStock()">Calculate Safety Stock</button>
                    <div class="output-box" *ngIf="safetyStock !== null">Safety Stock Result: {{ safetyStock }}</div>
                  </div>
              
                  <div class="button-container">
                    <button class="button" (click)="calculateReorderPoint()">Calculate Reorder Point</button>
                    <div class="output-box" *ngIf="reorderPoint !== null">Reorder Point Result: {{ reorderPoint }}</div>
                  </div>
                </div>
              </div>              
            </body>
          </div>
        </div>
      </div>
    </div>
    
</section>