<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <app-navigation-landing-page></app-navigation-landing-page>
        <!-- <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/home" routerLinkActive="active">
            <p class="nav-item">AR Advertising</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
            <p class="nav-item">Privacy Policy</p>
          </a>
        </div> -->
      </nav>
      <router-outlet></router-outlet>
    </div>
  <div class="hero-body">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered is-vcentered">
          <div class="column is-6" style="padding: 0;">
            <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
              <form id="signInForm" style="border:1px solid #ccc">
                <div class="container">
                  <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <meta name="author" content="Yinka Enoch Adedokun">
                    <meta name="description" content="Simple Forgot Password Page Using HTML and CSS">
                    <meta name="keywords" content="forgot password page, basic html and css">
                    <title>Forgot Password Page - HTML + CSS</title>
                  </head>
                  <body>
                    <div class="row">
                      <h1 class="forgotPass">Forgot Password</h1>
                      <h6 class="information-text">Enter your registered email to reset your password.</h6>
                      <div class="form-group">
                        <p class="InputTitle"><label for="username" class="InputTitle">Email</label></p>
                        <input type="text" placeholder="Enter Email" name="email" id="email" required>
                        <div class="clearfix">
                          <button type="button" class="signupbtn" onclick="signup()">Reset Password</button>
                      </div>
                      </div>
                      <div class="footer">
                        <p class="account">New to Yumzz? <a class="link" routerLink="/admin-signup" routerLinkActive="active" style="color:dodgerblue">Sign Up</a></p>
                                <p class ="account"> Have an account?<a class="link" routerLink="/admin-signin" routerLinkActive="active" style="color:dodgerblue"> Sign in</a></p>
                      </div>
                    </div>
                    </body>
                </div>  
              </form>
            </h1>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>