<!-- <div id="Web_1280__6"> -->
<section class="hero is-fullheight">
  <div class="hero-head">
    <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <p class="title">Yumzz</p>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="button is-black">
              <strong>Early Access</strong>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
            Dining. Reinvented.
          </h1>
          <h2 class="subtitle pl-6" style="font-size: 2rem;">
            Bringing back the fun of
            dining out in Pleasanton, CA.
          </h2>

          <a class="pl-6">
            <img src="../assets/appstore_black.svg" />
          </a>

        </div>
        <div class="column is-6">
          <figure class="image px-6 py-6">
            <img src="../assets/illustration.svg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-fullheight" style="background: #f88378;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <figure class="image">
            <img src="../assets/screen_ex_c@2x.png" />
          </figure>
        </div>
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            Dine safely and support restaurants in Pleasanton, CA
          </h1>
          <br>
          <h2 class="subtitle has-text-black">
            We partner with ultra-local restaurants to empower communities and small businesses.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-fullheight" style="background: #d0aefe;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <figure class="image">
            <img src="../assets/screen_ex_c@2x.png" />
          </figure>
        </div>
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            The best food at your fingertips
          </h1>
          <br>
          <h2 class="subtitle has-text-black">
            Discover new restaurants, explore local trends, or order your favorite food.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-success is-fullheight" style="background: #a3baff;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <figure class="image py-6">
            <div class="box" style="padding: 0rem; max-width: 400px; margin: auto; border-radius: 8px;">
              <img src="../assets/food.jpg" style="border-radius: 8px;" />
            </div>
          </figure>
        </div>

        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            Get valuable insights and data for your business
          </h1>
          <br>
          <h2 class="subtitle has-text-black">
            Find out what your customers buy and get feedback. Get advice to improve your logistics and growth.
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-half is-offset-one-quarter">
        <div class="content has-text-centered is-centered pb-6">
          <p>
            <strong>
              Sign up for early access
            </strong>
          </p>
          <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
          <div class="field">
            <div class="columns is-centered">
              <div class="column is-4">
                <div class="control">
                  <input class="input" type="text" placeholder="email@address.com" formControlName="email">
                </div>
              </div>
              <div class="column is-2">
                <div class="control">
                  <button class="button is-black" (click)="onSubmit()">Sign up</button>
                </div>
              </div>
            </div>
          </div>
          </form>
      </div>
    </div>
    <div class="column is-12">
      <div class="content has-text-centered">
        <p>
          © 2020 Yumzz All rights reserved.
        </p>
      </div>
    </div>
  </div>
  </div>
</footer>
