<section class="hero is-fullheight" style="background: #F3F1EE;">
  <div class="hero-head">
    <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home" routerLinkActive="active">
          <p class="title">Yumzz</p>
        </a>
      </div>
      <div class="navbar-selection ml-auto">
        <a class="navbar-item" routerLink="/foodwaste" routerLinkActive="active">
          <p class="nav-item">Food Waste Service</p>
        </a>
      </div>
      <div class="navbar-selection ml-auto">
        <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
          <p class="nav-item">Privacy Policy</p>
        </a>
      </div>
      <div class="navbar-selection ml-auto">
        <a class="navbar-item" routerLink="/admin" routerLinkActive="active">
          <p class="nav-item">Admin Sign In</p>
        </a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6" style="padding: 0;">
          <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
            Food Advertising Enhanced.
          </h1>
          <h2 class="subtitle pl-6" style="font-size: 2rem;">
            Tools to increase traffic to your website, delivery apps, social media, and restaurant through AR - the future of advertising
          </h2>
          <!-- <a class="pl-6">
            <img src="../assets/appstore_black.svg" />
          </a> -->
        </div>
        <div class="column is-6">
          <figure class="image px-6 py-6">
            <img src="../assets/illustration.svg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-success is-fullheight" style="background: #FF8859;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            Digital Promotion Made Effortless through AR - Augmented Reality i.e. 3D models
          </h1>
          <h2 class="subtitle has-text-black">
            We can upgrade your entire menu to bring you more traffic and sales. AR shown to increase traffic by at least 24%
          </h2>
          <br>
          <a class="tab is-active" data-anchor="step#data" href="#">
            <h3 class="title is-4 has-text-black"> Make your Social Media Interactive and Increase Followers </h3>
            <p class="subtitle has-text-black"> Increase social media traffic through AR posts across different platforms </p>
          </a>
          <br>
          <a class=tab data-anchor="step#image" href="#">
            <h3 class="title is-4 has-text-black">  Enhance Delivery Orders </h3> 
            <p class="subtitle has-text-black"> Get more attention to your restaurant on Doordash, UberEats, and any other delivery apps </p>
          </a>
          <br>
          <a class=tab data-anchor="step#order" href="#">
            <h3 class="title is-4 has-text-black"> Enhance your website </h3>
            <p class="subtitle has-text-black">  Add these stunning AR models onto your website </p>
          </a>
        </div>
        <div class="column is-6 has-text-centered">
          <div class="screens has-text-centered">
            <div class="screen is-active" data-id="step#data">
              <p class="subtitle has-text-black"> Look at these results of our first partnered restaurant Casa Azteca! Results may vary. </p>
              <img src="/assets/FollowersCasa.png" style="max-height: 500px; width: auto; margin: auto;" />
            </div>
            <div class="screen" data-id="step#image">
              <p class="subtitle has-text-black"> Look at these results of our second partnered restaurant Mango Munchies! Results may vary. </p>
              <img src="/assets/DeliveryOrders.png" style="max-height: 500px; width: auto; margin: auto;" />
            </div>
            <div class="screen" data-id="step#order">
              <a rel = "ar" href = "https://storage.googleapis.com/virtual-menu-59b9e.appspot.com/AR-Model/Example/first.usdz">
              <p class="subtitle has-text-black"> Click this photo on your phone to try AR yourself</p>
              </a>
              <a rel = "ar" ar-scale = "fixed" href = "https://storage.googleapis.com/virtual-menu-59b9e.appspot.com/AR-Model/Example/first.usdz">
                <img src="/assets/AR-Example-Large.png" style="max-height: 500px; width: auto; margin: auto;" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-success is-fullheight" style="background: #F3F1EE;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            One size fits all? We don't think so.
          </h1>
          <br>
          <h2 class="subtitle has-text-black">
            We let you decide how many 3D models of your food you want and where you wish to put them. There are many different use cases for you like: showing portion size estimations of food, marketing campaigns, highlighting your star dishes, improving customer engagement, upselling, etc.
          </h2>
        </div>
        <div class="column is-6">
          <figure class="image">
            <div class="box" style="padding: 0rem; max-width: 400px; margin: auto; border-radius: 8px;">
              <img src="../assets/food.jpg" style="border-radius: 8px;" />
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-half is-offset-one-quarter">
        <div class="content has-text-centered is-centered pb-6">
          <p>
            <strong>
              Sign up for early access before your competitors. If you have any questions, please contact us at sales@yumzztech.co!
            </strong>
          </p>
          <!-- <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
            <div class="field">
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="control">
                    <input class="input" type="text" placeholder="email@address.com" formControlName="email">
                  </div>
                </div>
                <div class="column is-2">
                  <div class="control">
                    <button class="button is-black" (click)="onSubmit()">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </form> -->
        </div>
      </div>
      <div class="column is-12">
        <div class="content has-text-centered">
          <p>
            © 2023 Yumzz All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
