<section class="hero is-fullheight" style="background: #F3F1EE;">
  <div class="hero-head">
    <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/home" routerLinkActive="active">
          <p class="title">Yumzz</p>
        </a>
      </div>
      <div class="navbar-selection">
        <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
          <p class="nav-item">Privacy Policy</p>
        </a>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6" style="padding: 0;">
          <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
            Dining. Reinvented.
          </h1>
          <h2 class="subtitle pl-6" style="font-size: 2rem;">
            Augmenting the reality of dining in and out across the Bay Area.
          </h2>
          <a class="pl-6">
            <img src="../assets/appstore_black.svg" />
          </a>
        </div>
        <div class="column is-6">
          <figure class="image px-6 py-6">
            <img src="../assets/illustration.svg" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-success is-fullheight" style="background: #FF8859;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            Enhancing connections to local restaurants
          </h1>
          <h2 class="subtitle has-text-black">
            Yumzz uses revolutionary AR (augmented reality) technology to elevate dining experiences.
          </h2>
          <br>
          <a class="tab is-active" data-anchor="step#home" href="#">
            <h3 class="title is-4 has-text-black">  See the food on your table before ordering it  </h3>
            <p class="subtitle has-text-black"> Through anyone’s phone, you can see the incredible aesthetics of plating of our partnered restaurants
            </p>
          </a>
          <br>
          <a class=tab data-anchor="step#dish" href="#">
            <h3 class="title is-4 has-text-black"> Get valuable recommendations based on how you are feeling right now </h3>
            <p class="subtitle has-text-black"> Choose a few ingredients you are craving at the moment, and we will provide you with where to go to satisfy your desires </p>
          </a>
          <br>
          <a class=tab data-anchor="step#order" href="#">
            <h3 class="title is-4 has-text-black"> Get interactive insights as to the aesthetics, history, waitstaff, and how dishes are cooked
 </h3>
            <p class="subtitle has-text-black"> Using your phone, you can experience restaurants in a new and unimaginable way. </p>
          </a>
        </div>
        <div class="column is-6 has-text-centered">
          <div class="screens has-text-centered">
            <div class="screen is-active" data-id="step#home">
              <img src="/assets/images/screens/home.png" style="max-height: 500px; width: auto; margin: auto;" />
            </div>
            <div class="screen" data-id="step#dish">
              <img src="/assets/images/screens/dish_detail.png" style="max-height: 500px; width: auto; margin: auto;" />
            </div>
            <div class="screen" data-id="step#order">
              <img src="/assets/images/screens/order.png" style="max-height: 500px; width: auto; margin: auto;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-success is-fullheight" style="background: #F3F1EE;">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5">
          <h1 class="title has-text-black" style="font-size: 2.5rem;">
            Get valuable insights and data for your business
          </h1>
          <br>
          <h2 class="subtitle has-text-black">
            You own a restaurant? Discover what your customers buy and get feedback. Get advice to improve your logistics and growth.
          </h2>
        </div>
        <div class="column is-6">
          <figure class="image">
            <div class="box" style="padding: 0rem; max-width: 400px; margin: auto; border-radius: 8px;">
              <img src="../assets/food.jpg" style="border-radius: 8px;" />
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="columns is-multiline is-vcentered">
      <div class="column is-half is-offset-one-quarter">
        <div class="content has-text-centered is-centered pb-6">
          <p>
            <strong>
              Sign up for early access. If you have any questions, please contact us at yumzzapp@gmail.com!
            </strong>
          </p>
          <form [formGroup]="this.form" (ngSubmit)="onSubmit()">
            <div class="field">
              <div class="columns is-centered">
                <div class="column is-4">
                  <div class="control">
                    <input class="input" type="text" placeholder="email@address.com" formControlName="email">
                  </div>
                </div>
                <div class="column is-2">
                  <div class="control">
                    <button class="button is-black" (click)="onSubmit()">Sign up</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="column is-12">
        <div class="content has-text-centered">
          <p>
            © 2020 Yumzz All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
