<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/home" routerLinkActive="active">
            <p class="nav-item">AR Advertising</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
            <p class="nav-item">Privacy Policy</p>
          </a>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered is-vcentered">
          <div class="column is-6" style="padding: 0;">
            <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
              <form id="signInForm" style="border:1px solid #ccc">
                <div class="container">
                  <h1 class="signInTitle">Yumzz Sign In</h1>
                  <label for="uname" class="InputTitle"><b>Restaurant Name: </b></label>
                  <input type="text" placeholder="Enter Restaurant Name" name="uname" id="restaurantName" required>

                  <label for="email" class="InputTitle"><b>Email: </b></label>
                  <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
                  <label for="psw" class="InputTitle"><b>Password: </b></label>
                  <input type="password" placeholder="Enter Password" name="psw" id="password" required>
    
                  <button type="button" routerLink="/admin-homepage" routerLinkActive="active" onclick="signIn()">Login</button>
                  <label class="checks">
                    <input type="checkbox" checked="checked" class="checked"> <h1 class="remem"> Remember me </h1>
                  </label>
                </div>
    
                <div class="container" style="background-color:#f1f1f1">
                  <button type="button" class="cancelbtn">Cancel</button>
                </div>
                <a class="Link" routerLink="/admin-forgotPassword" routerLinkActive="active" style="color:dodgerblue">
                  Forgot password?
                </a>
                <a class="Link" routerLink="/admin-signup" routerLinkActive="active" style="color:dodgerblue">Sign Up Right Here</a>
                  <!-- <button type="button" class="signupbutton">Sign Up</button> -->
                 <!-- <a class="navbar-item" routerLink="/admin-signup" routerLinkActive="active">
                  <span class="psw">Sign Up</span>
                </a> -->
              </form>
            </h1>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      // Function to handle the sign-in process

      function signIn() {
        // Get form data
        const restaurantName = document.getElementById('restaurantName').value;
        const password = document.getElementById('password').value;

        const signInFunction = firebase.functions().httpsCallable('signin');



        signInFunction({restaurantName: restaurantName, password: password})
        .then((result) => {
            console.log(result.data.message);
            // Optionally, you can redirect the user to a new page or perform other actions after successful signup
          })
          .catch((error) => {
            console.error('Error during sign up:', error.message);
            // Handle errors (e.g., display an error message to the user)
          });
      }
    </script>
    
</section>