<nav>
    <!-- <a routerLink="/home">Yumzz Landing page</a> -->
    <div class="navbar-end">
        <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        <a class="navbar-item" routerLink="/home">Augmented Reality Advertising Services</a>
        <a class="navbar-item" routerLink="/foodwaste">Food Waste Services</a>
        <a class="navbar-item" routerLink="/admin-signin">Sign In</a>
        <a class="navbar-item" routerLink="/admin-signup">Sign Up</a>
        <a class="navbar-item" routerLink="/admin-forgotPassword">Forgot Password</a>
    </div>
    <!-- Add more navigation links as needed -->
  </nav>

  <!-- { path: 'home', component: HomepageComponent},
  { path:'foodwaste', component: FoodWastePageComponent },
  { path:'admin-fileupload', component: FileUploadPageComponent},
  {path:'privacy', component: PrivacyPolicyComponent},
  {path: 'admin-signin', component: SignInAdminPageComponent},
  {path: 'admin-signup', component: SignUpAdminPageComponent},
  {path: 'admin-forgotPassword', component: ForgotPasswordPageComponent},
  {path: 'admin-homepage', component: AdminHomePageComponent},
  {path : 'admin-recipes', component: AdminRecipesComponent}, -->