<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <app-navigation></app-navigation>

        <!-- <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/admin-fileupload" routerLinkActive="active">
            <p class="nav-item">File Upload</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item" routerLink="/admin-homepage" routerLinkActive="active">
            <p class="nav-item">Statistics</p>
          </a>
        </div> -->
        <!-- <div class="navbar-selection ml-auto">
            <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
              <p class="nav-item">Recipe Management</p>
            </a>
          </div> -->
      </nav>
      <h1 class="RecipeManTitle" style="font-size: 3.6rem;">Recipe Management</h1>
      <!-- <router-outlet></router-outlet> -->
    <div>
      <!-- buttons.component.html -->
x
  <div class="hero-body">
    <!-- File Operations Inputs -->
    <div class="form-group">
      <label for="filename">File Name:</label>
      <input type="text" class="form-control" id="filename" [(ngModel)]="filename" placeholder="Enter file name">
    </div>

    <div class="form-group">
      <label for="newContent">New Content:</label>
      <textarea class="form-control" id="newContent" [(ngModel)]="newContent" placeholder="Enter new content"></textarea>
    </div>

    <div class="form-group">
      <label for="recipeName">Recipe Name:</label>
      <input type="text" class="form-control" id="recipeName" [(ngModel)]="recipeName" placeholder="Enter recipe name">
    </div>

    <!-- File Operations Buttons -->
    <!-- <div class="file-operations"> -->
      <!-- <h2>File Operations</h2> -->

      <!-- <button class="button" (click)="readFile()">Read File</button> -->

      <!-- ... Other buttons ... -->

      <!-- <h2>Recipe Operations</h2> -->

      <button class="button" (click)="createRecipe()">Create Recipe</button>
      
      <button class="button" >Edit Recipe</button>

      <!-- ... Other buttons ... -->
    <!-- </div> -->

    <ng-template #fileOperationsTemplate>
      <!-- Use this template if conditions are not met -->
    </ng-template>
  </div>
<!-- </section> -->