.RecipeManTitle{
    text-align: center;
    font-size: 70px;
}
.button{
    margin-top:10%;
}
.custom-input {
  margin-bottom: 10px; /* Adjust the margin as needed */
  padding: 5px; /* Add padding for better appearance */
}

.custom-button {
  margin-bottom: 10px; /* Adjust the margin as needed */
}