.RecipeManTitle{
    text-align: center;
    font-size: 70px;
}
.button{
    margin-top:10%;
}
.custom-input {
  margin-bottom: 10px; /* Adjust the margin as needed */
  padding: 5px; /* Add padding for better appearance */
}

.custom-button {
  margin-bottom: 10px; /* Adjust the margin as needed */
}

.column{
  text-align: center; /* Center the titles */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.RecipeManButton {
  align-items: center;
  display: flex;
  position: relative;
  font-size: large;
  color: black;
}

.vertical-spacing-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the spacing value as needed */
}

.flex-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin as needed to create space between the divs */
  margin-right: 10px;
  margin-top: 15px;
}

.checks{
  display: flex;
  align-items: center;
}
.checked {
  width: 1.2em; /* Adjust the width of the checkbox */
  height: 1.2em; /* Adjust the height of the checkbox */
  border: 2px solid #333; /* Border color */
  background-color: #fff; /* Background color */
  /* margin-left: 30%; */
  margin-right: 5%;
  size: 20px;
  transform: scale(1.5);
}

/* styles.css */
.hero {
  display: flex;
  flex-direction: column;
}

.hero-head {
  /* Add your styles for the hero head if needed */
}

.RecipeManTitle {
  margin-top: 1rem;
}

.recipe-select{
  flex-direction: column;
  display: flex;
  margin-left: 30px;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.selectRecipe, .form-input, .selectIngredient {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Adjust the margin as needed */
}

/* .form-control, .selectRecipe, .form-input, .selectIngredient {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

.file-operations {
  margin-top: 1rem;
}

.button {
  margin-top: 0.5rem;
  /* Add more styling for buttons as needed */
}

.form-input {
  width: 100%; /* Set the width of the input */
  height: 70px; /* Set the height of the input */
  padding: 5px; /* Add padding inside the input */
  font-size: 14px; /* Set the font size of the text */
  border: 1px solid #ccc; /* Add a border to the input */
  border-radius: 4px; /* Add rounded corners to the input */
  box-sizing: border-box; /* Include padding and border in the total width/height */
  align-items: center;
}
