<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/home" routerLinkActive="active">
            <p class="nav-item">File Uploads</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item" routerLink="/admin-homepage" routerLinkActive="active">
            <p class="nav-item">Advanced Statistics</p>
          </a>
        </div>
        <!-- <div class="navbar-selection ml-auto">
            <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
              <p class="nav-item">Recipe Management</p>
            </a>
          </div> -->
      </nav>
      <h1 class="RecipeManTitle" style="font-size: 3.6rem;">Recipe Management</h1>
      <!-- <router-outlet></router-outlet> -->
    <div>
    <div class="hero-body">
        <h2>File Operations</h2>
    
        <label for="filename">File Name:</label>
        <input type="text" id="filename" [(ngModel)]="filename" placeholder="Enter file name">
    
        <button (click)="readFile()">Read File</button>
    
        <div *ngIf="fileContent !== undefined">
            <h3>File Content:</h3>
            <pre>{{ fileContent }}</pre>
        </div>
    
        <hr>
    
        <label for="newContent">New Content:</label>
        <textarea id="newContent" [(ngModel)]="newContent" placeholder="Enter new content"></textarea>
    
        <button class="button" (click)="updateFile()">Update File</button>
    
        <hr>
    
        <button class="button" (click)="deleteFile()">Delete File</button>
    
        <hr>
    
        <h2>Recipe Operations</h2>

        <hr>
    
        <label for="recipeName">Recipe Name:</label>
        <input type="text" id="recipeName" [(ngModel)]="recipeName" placeholder="Enter recipe name">

        <hr>
    
        <button class="button" (click)="createRecipe()">Create Recipe</button>

        <hr>
    
        <button class="button" (click)="getIngredients()">Get Ingredients</button>

        <hr>
    
        <button class="button" (click)="deleteRecipe()">Delete Recipe</button>
        
        <hr>
    
        <button class="button" (click)="editIngredients()">Edit Ingredients</button>

        <hr>
    
        <button class="button" (click)="deleteIngredient()">Delete Ingredient</button>

        <hr>
    
        <button class="button" (click)="editIngredientQuantity()">Edit Ingredient Quantity</button>

        <hr>
    
        <button class="button" (click)="addIngredient()">Add Ingredient</button>

        <hr>
    </div>
<!-- </section> -->