<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <app-navigation></app-navigation>
      </nav>
      <h1 class="RecipeManTitle" style="font-size: 3.6rem;">Recipe Management</h1>
      <router-outlet></router-outlet>
    <div>
    <div class="hero-body">
      <!-- File Operations Inputs -->
      <div class="buttonContainer">
        <div class="column">
          <h2 class="RecipeManButton">Edit Recipes</h2>
          <div class="form-group">
            <label for="recipeName">Select Existing Recipe:</label>
          </div>
          <div class="form-group">
            <select [(ngModel)]="recipeName">
              <br>
              <option *ngFor="let value of recipeNames" class="selectRecipe" [value]="value">{{ value }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="newContent">New Recipe Name:</label>
            <br>
            <textarea class="form-control" id="newRecipeName" [(ngModel)]="editNewRecipeName" placeholder="Enter Recipe Name"></textarea>
          </div>
          <button class="button" (click)="editRecipeName()">Edit Recipe Name
          </button>
          <br>
          <div class="form-control">
            <label for="newContent">Enter new Ingredients:</label>
            <!-- calculate the ingredient quantity using purchasing data -->
            <textarea class="form-input" id="editNewIngredients" [(ngModel)]="editNewIngredients" placeholder="Enter ingredients - Ingredient Name, Ingredient Quantity"></textarea>
          </div>
          <button class="button" (click)="editRecipeIngredients()">Add Ingredients</button>
        </div>
      
        <div class="column">
          <h2 class="RecipeManButton">Create Recipes</h2>
              <div class="form-group">
                <label for="newRecipeName">New Recipe Name:</label>
                <br>
                <textarea class="form-control" id="newRecipeName" [(ngModel)]="newRecipeName" placeholder="Enter Recipe Name"></textarea>
              </div>
              <div class="form-control">
                <label for="newContent">Ingredients:</label>
                <textarea class="form-input" id="newContent" [(ngModel)]="createNewIngredients" placeholder="Enter ingredients - Ingredient Name, Ingredient Quantity"></textarea>
              </div>
              <label class="checks">
                <input type="checkbox" checked="checked" class="checked" cols="20" rows="4"> <h1 class="remem"> Quantites Entered </h1>
              </label>
              <button class="button" (click)="addDish()">Create Recipe</button>
              <br>
            <br>
        </div>

        <div class="column">
          <h2 class="RecipeManButton">Delete Recipes</h2>
          <div class="form-group">
            <label for="deleteRecipeName">Select Existing Recipe:</label>
          </div>
          <div class="form-group">
            <select [(ngModel)]="deleteRecipeName" (change)="getDeleteIngredients()">
              <br>
              <option *ngFor="let value of recipeNames" class="selectRecipe" [value]="value">{{ value }}</option>
            </select>
          </div>
          <button class="button" (click)="deleteRecipe()" >Delete Recipe</button>
          <br>
          <div class="form-group">
            <label for="recipeName">Select Ingredient:</label>
          </div>
          <div class="form-group">
            <select [(ngModel)]="selectedIngred">
              <option *ngFor="let value of delIngredNames" class="selectIngredient" [value]="value">{{ value }}</option>
            </select>
          </div>
          <button class="button" (click)="deleteIngredient()">Delete Ingredient</button>
          <br>
        </div>
        <!-- <ng-template #fileOperationsTemplate>
        </ng-template> -->
      </div>
    </div>