<section class="hero is-fullheight" style="background: #F3F1EE;">
    <div class="hero-head">
      <nav class="navbar is-transparent px-6" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item ml-auto" routerLink="/home" routerLinkActive="active">
            <p class="nav-item">AR Advertising</p>
          </a>
        </div>
        <div class="navbar-selection ml-auto">
          <a class="navbar-item" routerLink="/privacy" routerLinkActive="active">
            <p class="nav-item">Privacy Policy</p>
          </a>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered is-vcentered">
                <div class="column is-6" style="padding: 0;">
                    <h1 class="title is-spaced pl-6" style="font-size: 3.6rem;">
                        <form [formGroup]="this.form" (ngSubmit)="onSubmit()" style="border:1px solid #ccc">
                          <div class="field">
                            <div class="container">
                                <h1 class="signUpTitle">Yumzz Sign Up</h1>
                                <p class="Description">Please fill in this form to create an account.</p>
                                <hr>
                                <label for="restaurantName" class="InputTitle"><b>Restaurant Name</b></label>
                                <input type="text" placeholder="Enter Name" formControlName="restaurantname" id="restaurantname" required>

                                <label for="ownerName" class="InputTitle"><b>Owner Name</b></label>
                                <input type="text" placeholder="Enter Name" formControlName="ownername" id="ownername" required>
    
                                <label for="email" class="InputTitle"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" formControlName="email" id="email" required>
    
                                <label for="password" class="InputTitle"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" formControlName="password" id="password" required>
    
                                <label for="passwordRepeat" class="InputTitle"><b>Repeat Password</b></label>
                                <input type="password" placeholder="Repeat Password" formControlName="passwordrepeat" id="passwordrepeat" required>
    
                                <label class="checks">
                                  <input type="checkbox" checked="checked" class="checked"> <h1 class="remem"> Remember me </h1>
                                </label>
                                <p class="account">By creating an account you agree to our <a class="link" routerLink="/privacy" routerLinkActive="active" style="color:dodgerblue">Terms & Privacy</a></p>
                                <p class ="account"> Have an account?<a class="link" routerLink="/admin-signin" routerLinkActive="active" style="color:dodgerblue"> Sign in</a></p>
                                <div class="control">
                                    <button type="button" class="signupbtn" (click)="onSubmit()">Sign Up</button>
                                </div>
                            </div>
                          </div>
                        </form>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>


        