<nav>
    <!-- <a routerLink="/home">Yumzz Landing page</a> -->
    <div class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" routerLink="/home" routerLinkActive="active">
            <p class="title"> Yumzz</p>
          </a>
            <!-- <a class="navbar-item" routerLink="/admin-signin">Sign In</a> -->
            <a class="navbar-item" routerLink="/admin-homepage">Statistics</a>
            <a class="navbar-item" routerLink="/admin-recipes">Recipe Management</a>
            <a class="navbar-item" routerLink="/admin-fileupload">Upload Files</a>
            <a class="navbar-item" routerLink="/privacy">Privacy Policy</a>
            
          </div>
    </div>
    <!-- Add more navigation links as needed -->
</nav>