/* p{
    font-size: 20px;
} */

.nav-item{
    font-size: 20px;
    
}

.title{
    font-size: 30px;
    text-align: center;
    /* margin-top: -20%; */
}

.file-upload{
    font-size: 15px;
    color: #616060;
}

/* .margin {
    margin: 80px;
    margin-left:40px;
    text-align: center;
} */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10%;
  } 

  /* .subtitle {
    margin-right: 10px; 
  } */

  /* .file-upload {
    margin-right: 10px; 
  } */

  .upload-container {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
  }

  .subtitle-wrapper{
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .upload-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 100px;
  }
  
  .upload-button:hover {
    background-color: #45a049;
  }

  .center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  .parent {
    padding-left:5px;
    overflow:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-left: 80px;
    /* background-color:blue; */
  }

  .center {
    text-align:center;
    overflow:auto;
    background-color:red;
  }

  /* .subtitle-has-text-black{
    text-align: center;
  } */

  .description{
    text-align: center;
    width: 56%;
    height: 100%;
  }