p{
    font-size: 20px;
    margin-left: 80px; 
}

.nav-item{
    font-size: 20px;
    
}

.title{
    font-size: 30px;
    text-align: center;
}

.file-upload{
    font-size: 15px;
    color: #616060;
}

.margin {
    margin: 80px;
}